/* styles.css */

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #8798944d;  
    color: #222020ef; /* for text */
}

.body-text {
    font-size: 18px;
    line-height: 1.6;
    color: #f1efef; 
}

/* Navigation Bar Styling */
.bg-beige {
    background-color: #778789; 
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #faf6f6; 
}

/* Navigation Link Styling */
.nav-link {
    font-size: 18px;
    color: #373836; 
}

.nav-link:hover {
    color: #efe5e9; /* color on hover */
}

/* Active Link Styling */
.nav-link.active {
    font-weight: bold;
    color: #ede2e4; /* for active link */
}

/* Centering the Navigation Items */
.nav-item {
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;  /* Ensure the links are evenly spaced */
    width: 50%;  /* Adjust width to center the nav items */


/* Container Styling */
.container {
    margin-top: 50px;
}

h1 {
    font-size: 48px;
    color: #424340; /* for headers */
}

p {
    font-size: 20px;
    color: #333332; /* for paragraph text */
}



